<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form id="loginForm" action="/sign/in" method="post">
        <label for="userName">사용자 이름:</label>
        <input type="text" id="userName" name="userName" required>

        <label for="userPassword">비밀번호:</label>
        <input type="password" id="userPassword" name="userPassword" required>

        <button type="submit">로그인</button>
    </form>
    <div id="resultMessage"></div>
</div>
</body>
</html>